@charset "UTF-8";
/* CSS Document */


#Spalte_1
	{
		width: 40%;
		float: left;
		color: #FFC106;
		font-family: "Georgia, serif";
		font-size: 22px;
		margin-left:8%

	}


#Spalte_2
	{
		width: 40%;
		float: right;
		color: #FBBB00;
		font-family: "Georgia, serif";
		font-size: 22px;
		margin-right: 8%;


	}




h2 {font-size: 40px;
	font-weight:600;
	margin: 6px;
	color: #F1E400;
	width: 20%;

}

h1 {
	font-size: 24px;
	font-weight:600;
	margin: 6px;

}


p {
	font-size: 12.5px;
	background-color: rgba(242,233,78,0.70);
	color: black;
	padding: 6px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;



}

div {margin: 5px}
body {font-family: Verdana, sans-serif;

	}

#hintergrund {

width: 100%;
height: 100%;
position:static;
z-index: -1;
}


#content {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 2;
overflow: auto;
margin: 10px;

}



.image {
	max-width: 100%;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
	color: black;
}

#download a:link {
	width: 100%;
	float:right;
	color: white;
	font-weight: 500;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}



@media (max-width: 600px) {
	#Spalte_1 {
		float:none;
		width: 100%;

	}

	#Spalte_2 {
		float:none;
		width: 100%;

	}
}
